@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


:root  {
  --background: 262.1 17% 95%;
  --foreground: 262.1 5% 10%;
  --card: 262.1 17% 90%;
  --card-foreground: 262.1 5% 15%;
  --popover: 262.1 17% 95%;
  --popover-foreground: 262.1 95% 10%;
  --primary: 262.1 88.3% 57.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262.1 17% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 224.10000000000002 17% 85%;
  --muted-foreground: 262.1 5% 35%;
  --accent: 224.10000000000002 17% 80%;
  --accent-foreground: 262.1 5% 15%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 262.1 5% 90%;
  --border: 262.1 20% 50%;
  --input: 262.1 20% 22%;
  --ring: 262.1 88.3% 57.8%;
  --radius: 0.75rem;
}
.dark  {
  --background: 262.1 17% 10%;
  --foreground: 262.1 5% 90%;
  --card: 262.1 17% 10%;
  --card-foreground: 262.1 5% 90%;
  --popover: 262.1 17% 5%;
  --popover-foreground: 262.1 5% 90%;
  --primary: 262.1 88.3% 57.8%;
  --primary-foreground: 0 0% 100%;
  --secondary: 262.1 17% 20%;
  --secondary-foreground: 0 0% 100%;
  --muted: 224.10000000000002 17% 22%;
  --muted-foreground: 262.1 5% 60%;
  --accent: 224.10000000000002 17% 22%;
  --accent-foreground: 262.1 5% 90%;
  --destructive: 0 50% 30%;
  --destructive-foreground: 262.1 5% 90%;
  --border: 262.1 20% 22%;
  --input: 262.1 20% 22%;
  --ring: 262.1 88.3% 57.8%;
  --radius: 0.75rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
